@import url("../fonts/fonts.css");
body,
html {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

body.lock,
html.lock {
    overflow: hidden !important
}

h1,
h2,
h3,
h4 {
    font-family: 'Trirong';
    margin: 0
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

button,
button:hover {
    border: none
}

p {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
    font-family: serif
}

ul {
    padding: 0;
    margin: 0;
    text-align: center
}

li {
    list-style: none
}

a:hover {
    color: #fff;
    text-decoration: none
}

::selection {
    background: #d4b04d;
    color: #ffffff
}

.loader {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: loader 2.8s forwards
}

.loader__out {
    position: relative;
    top: 45px;
    width: 116px;
    height: 116px;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 50%
}

.loader__in {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #000000;
    border-top: 10px solid #fdfdfd;
    border-bottom: 10px solid #ffffff;
    animation: loading 3s linear infinite forwards
}

.loader__img {
    position: relative;
    bottom: 61px;
    width: 116px;
    height: 99px;
    object-fit: cover;
    background: #ffffff;
    border: 1px solid #00000093;
    border-radius: 50%
}

@keyframes loading {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader {
    100% {
        visibility: hidden
    }
}

.header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    padding: 18px 0
}

.header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 2px solid #dddddd;
    animation: fixed 0.5s linear
}

@keyframes fixed {
    0% {
        opacity: 0;
        top: -70px
    }
    100% {
        opacity: 1;
        top: 0
    }
}

.container {
    max-width: 1300px
}

.header__navbar {
    display: flex;
    align-items: center
}

.header__list {
    display: flex
}

.header__navbar {
    padding: 0
}

.logo__img {
    width: 27%
}

.Logo__img {
    width: 175px
}

.navbar__logo.fixed {
    display: none
}

.navbar__Logo {
    display: none
}

.navbar__Logo.fixed {
    display: block
}

.nav-item.navItem {
    transform: translate(0)
}

.nav__link.active {
    color: #c39a2c
}

.nav__link {
    font-family: 'Trirong';
    font-size: 18px;
    margin-left: 36px;
    color: #000000;
    transition: 0.3s;
    text-transform: uppercase
}

.nav__link:hover {
    color: #c39a2c;
    text-decoration: none
}

.gallery {
    padding: 60px 0;
    text-align: center
}

.gallery__title {
    font-size: 55px;
    letter-spacing: 5px
}

.gallery__img {
    width: 20%;
    margin: 20px 0
}

.gallery__room {
    animation: gallery 0.9s;
    position: relative;
    margin-bottom: 30px
}

.gallery__hover {
    position: absolute;
    top: 0%;
    opacity: 0;
    width: 94%;
    height: 100%;
    transition: 0.5s;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.hover__img {
    width: 28%;
    height: 8%;
    margin-bottom: 10px
}

.gallery__room:hover .gallery__hover {
    opacity: 0.9
}

.nav-link {
    position: relative;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Hebboo';
    font-size: 19px;
    transition: 0.3s;
    font-weight: 400;
    padding: 0;
    margin: 0 20px
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    transform: scaleX(0);
    background-color: #c39a2c
}

.nav-link:hover:after {
    transform: scaleX(1) scaleY(0.9)
}

.nav-link:hover {
    color: #c39a2c
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #c39a2c;
    background: none
}

.nav-link.active::after {
    transform: none;
    height: 2px !important
}

.footer {
    background: #222222;
    padding: 60px 0;
    color: #fff
}

.footer__title {
    text-transform: uppercase;
    font-size: 16px;
    font-family: unset
}

.footer__list {
    margin: 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer__item {
    margin: 3px 0;
    position: relative
}

.footer__link {
    color: #828282;
    font-family: 'Trirong';
    transition: 0.3s;
    font-size: 18px
}

.footer__item {
    position: relative
}

.footer__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px !important;
    transition: 0.3s;
    transform: scale(0);
    background: #c39a2c
}

.footer__item:hover:after {
    transform: scaleX(1) scaleY(0.9)
}

.footer__awards {
    margin: 40px 0
}

.footer__awards img {
    width: 6%;
    margin: 0 20px
}

.footer__txt {
    font-size: 18px;
    text-align: center;
    color: grey
}

.footer__owner {
    color: #d4b04c;
    position: relative;
    padding: 5px 0
}

.footer__owner::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px !important;
    transition: 0.5s;
    transform: scale(0);
    background: #c39a2c
}

.footer__owner:hover::after {
    transform: scaleX(1) scaleY(0.9)
}

.footer__owner:hover,
.footer__media .fab:hover,
.media__link {
    color: #d4b04c
}

.media__link {
    color: #fff
}

.footer__media .fab {
    font-size: 20px;
    margin: 20px 10px 0;
    transition: 0.3s
}

@media (max-width: 1140px) {
    .Logo__img {
        width: 135px
    }
    .gallery__title {
        font-size: 55px;
        letter-spacing: 3px
    }
}

@media (max-width: 1024px) {
    .logo__img {
        width: 38%
    }
    .nav__link {
        font-size: 16px
    }
    .gallery__hover {
        width: 92%
    }
    .hover__txt {
        font-size: 24px
    }
}

@media (max-width: 992px) {
    .gallery__img {
        width: 23%
    }
    .hover__txt {
        font-size: 26px
    }
}

@media (max-width: 768px) {
    .header.fixed {
        padding: 10px 0
    }
    .header__list {
        width: 50%;
        height: 100vh;
        background: #c39a2c;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 98;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.5s
    }
    .header__list.active {
        right: 0
    }
    .header__burger {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        z-index: 99
    }
    .header__icon {
        position: absolute;
        width: 85%;
        height: 4px;
        background: #000;
        border-radius: 5px;
        transition: 0.3s
    }
    .header__icon.active {
        background: transparent
    }
    .header__icon::before,
    .header__icon::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: -10px;
        background: #000;
        border-radius: 5px;
        transition: 0.3s
    }
    .header__icon::after {
        top: 10px
    }
    .header__icon.active::after {
        transform: rotate(-45deg);
        background: #fff;
        top: 0
    }
    .header__icon.active::before {
        transform: rotate(45deg);
        background: #fff;
        top: 0
    }
    .logo__img {
        width: 23%
    }
    .lists {
        position: absolute;
        flex-direction: column;
        left: 72px
    }
    .lists .nav-item {
        position: relative;
        left: 35%;
        margin: 14px 0
    }
    .nav__link.active {
        color: #ffffff;
        border-bottom: 3px solid #ffff
    }
    .nav__link {
        color: #ffffff
    }
    .nav-link {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    .navbar__list {
        background: #c39a2c;
        margin-top: 10px;
        padding: 20px;
        border-radius: 10px;
        opacity: 0.8
    }
    .nav-item:nth-of-type(6) {
        margin-bottom: 0
    }
    .nav__link {
        margin: 0
    }
    .nav__link:hover {
        color: #ffffff
    }
    .gallery__title {
        font-size: 50px
    }
    .gallery__img {
        width: 30%
    }
    .gallery__hover {
        width: 93%
    }
    .hover__txt {
        font-size: 23px
    }
    .footer__box {
        margin-bottom: 60px
    }
    .footer__awards {
        margin: 0 0 40px
    }
    .footer__awards img {
        width: 8%
    }
    .footer__owner::after {
        transform: scaleX(1) scaleY(0.9)
    }
}

@media (max-width: 734px) {
    .lists {
        left: 65px
    }
}

@media (max-width: 684px) {
    .lists {
        left: 56px
    }
}

@media (max-width: 667px) {
    .lists {
        left: 46px
    }
    .room__hover {
        width: 303px
    }
    .gallery__title {
        font-size: 48px
    }
}

@media (max-width: 576px) {
    .header__burger {
        width: 45px
    }
    .lists {
        left: 25px
    }
    .navbar__list {
        padding: 26px
    }
    .navbar__logo {
        width: 21%
    }
    .logo__img {
        width: 100%
    }
    .gallery__title {
        font-size: 42px
    }
    .gallery {
        text-align: center
    }
    .gallery__img {
        width: 38%
    }
    .gallery__hover {
        width: 90%
    }
    .hover__img {
        width: 38%;
        height: 11%
    }
    .footer__title {
        font-size: 14px;
        letter-spacing: 1px
    }
    .footer__link {
        font-size: 16px
    }
    .footer__txt {
        font-size: 15px
    }
    .footer__awards img {
        width: 10%
    }
}

@media (max-width: 414px) {
    .Logo__img {
        width: 120px
    }
    .header__burger {
        width: 41px
    }
    .header__list {
        width: 75%
    }
    .lists {
        left: 43px
    }
    .navbar__logo {
        width: 28%
    }
    .nav__link {
        font-size: 15px
    }
    .navbar-list {
        padding: 30px
    }
    .gallery__title {
        font-size: 40px
    }
    .gallery__img {
        width: 50%
    }
    .gallery__hover {
        width: 93%
    }
    .hover__img {
        width: 28%;
        height: 8%
    }
    .footer__awards img {
        width: 12%
    }
}

@media (max-width: 375px) {
    .header__burger {
        width: 38px
    }
    .header__list {
        width: 93%
    }
    .logo__img {
        width: 96%
    }
    .nav__link {
        font-size: 17px
    }
    .gallery__title {
        font-size: 31px
    }
    .gallery__img {
        width: 53%
    }
    .gallery .nav-item:nth-of-type(4) {
        margin-top: 15px
    }
    .hover__img {
        width: 32%;
        height: 9%
    }
    .hover__txt {
        font-size: 26px
    }
}

@media (max-width: 320px) {
    .header.fixed {
        padding: 5px 0
    }
    .header__burger {
        width: 35px
    }
    .header__list {
        width: 100%
    }
    .lists {
        left: 34px
    }
    .logo__img {
        width: 100%
    }
    .nav-pills>nav-item {
        margin-bottom: 12px
    }
    .gallery__title {
        font-size: 35px
    }
    .hover__txt {
        font-size: 23px
    }
    .footer__awards img {
        width: 14%
    }
    .footer__awards img:nth-of-type(4) {
        margin-top: 40px
    }
}

.gallery__room:hover .hover__txt {
    animation: hover__txt 0.5s
}

@keyframes gallery {
    0% {
        transform: scale(0.5)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes hover__txt {
    0% {
        transform: translateY(-40px)
    }
    100% {
        transform: translateY(0)
    }
}