@import url("../fonts/fonts.css");
body,
html {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

body.lock,
html.lock {
    overflow: hidden !important
}

h1,
h2,
h3,
h4 {
    font-family: 'Trirong';
    margin: 0
}

p {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
    font-family: serif
}

img {
    width: 100%;
    height: 100%
}

button,
button:hover {
    border: none
}

a:hover {
    color: #fff;
    text-decoration: none
}

li {
    list-style: none
}

ul {
    padding: 0;
    text-align: center;
    margin: 0
}

::selection {
    background: #d4b04d;
    color: #ffffff
}

.loader {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: loader 2.5s forwards
}

.loader__out {
    position: relative;
    top: 45px;
    width: 116px;
    height: 116px;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 50%
}

.loader__in {
    position: absolte;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #000000;
    border-top: 10px solid #fdfdfd;
    border-bottom: 10px solid #ffffff;
    animation: loading 3s linear infinite forwards
}

.loader__img {
    position: relative;
    bottom: 61px;
    width: 116px;
    height: 99px;
    object-fit: cover;
    background: #ffffff;
    border: 1px solid #00000093;
    border-radius: 50%
}

@keyframes loading {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader {
    100% {
        visibility: hidden
    }
}

.header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    padding: 18px 0
}

.header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 2px solid #dddddd;
    animation: fixed 0.5s linear
}

@keyframes fixed {
    0% {
        opacity: 0;
        top: -70px
    }
    100% {
        opacity: 1;
        top: 0
    }
}

.container {
    max-width: 1300px
}

.header__navbar {
    display: flex;
    align-items: center
}

.header__list {
    display: flex
}

.logo__img {
    width: 27%
}

.Logo__img {
    width: 175px
}

.navbar__logo.fixed {
    display: none
}

.navbar__Logo {
    display: none
}

.navbar__Logo.fixed {
    display: block
}

.nav__link.active {
    color: #c39a2c
}

.nav__link {
    font-family: 'Trirong';
    font-size: 18px;
    margin-left: 36px;
    color: #000000;
    transition: 0.3s;
    text-transform: uppercase
}

.nav__link:hover {
    color: #c39a2c;
    text-decoration: none
}

.activity__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 70px
}

.activity__span {
    color: #c39a2c;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase
}

.activity__title {
    margin: 15px 0 55px;
    font-size: 37px
}

.activity__img {
    height: 500px;
    object-fit: cover
}

.footer {
    background: #222222;
    padding: 60px 0;
    color: #fff
}

.footer__title {
    text-transform: uppercase;
    font-size: 16px;
    font-family: unset
}

.footer__list {
    margin: 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer__item {
    margin: 3px 0;
    position: relative
}

.footer__link {
    color: #828282;
    font-family: 'Trirong';
    transition: 0.3s;
    font-size: 18px
}

.footer__item {
    position: relative
}

.footer__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px !important;
    transition: 0.3s;
    transform: scale(0);
    background: #c39a2c
}

.footer__item:hover:after {
    transform: scaleX(1) scaleY(0.9)
}

.footer__awards {
    margin: 40px 0
}

.footer__awards img {
    width: 6%;
    margin: 0 20px
}

.footer__txt {
    font-size: 18px;
    text-align: center;
    color: grey
}

.footer__owner {
    color: #d4b04c;
    position: relative;
    padding: 5px 0
}

.footer__owner::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px !important;
    transition: 0.5s;
    transform: scale(0);
    background: #c39a2c
}

.footer__owner:hover::after {
    transform: scaleX(1) scaleY(0.9)
}

.footer__owner:hover,
.footer__media .fab:hover,
.media__link {
    color: #d4b04c
}

.media__link {
    color: #fff
}

.footer__media .fab {
    font-size: 20px;
    margin: 20px 10px 0;
    transition: 0.3s
}

@media (max-width: 1440px) {
    .Logo__img {
        width: 135px
    }
    .activity__title {
        margin: 15px 0 35px
    }
}

@media (max-width: 1140px) {
    .activity__img {
        height: 400px
    }
}

@media (max-width: 1024px) {
    .logo__img {
        width: 38%
    }
    .nav__link {
        font-size: 16px
    }
    .activity__img {
        height: 355px
    }
    .activity__title {
        margin: 15px 0 15px
    }
}

@media (max-width: 992px) {
    .activity__title {
        font-size: 34px
    }
}

@media (max-width: 768px) {
    .header.fixed {
        padding: 10px 0
    }
    .header__list {
        width: 50%;
        height: 100vh;
        background: #c39a2c;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 98;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.5s
    }
    .header__list.active {
        right: 0
    }
    .header__burger {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        z-index: 99
    }
    .header__icon {
        position: absolute;
        width: 85%;
        height: 4px;
        background: #000;
        border-radius: 5px;
        transition: 0.3s
    }
    .header__icon.active {
        background: transparent
    }
    .header__icon::before,
    .header__icon::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: -10px;
        background: #000;
        border-radius: 5px;
        transition: 0.3s
    }
    .header__icon::after {
        top: 10px
    }
    .header__icon.active::after {
        transform: rotate(-45deg);
        background: #fff;
        top: 0
    }
    .header__icon.active::before {
        transform: rotate(45deg);
        background: #fff;
        top: 0
    }
    .logo__img {
        width: 23%
    }
    .nav__link.active {
        color: #ffffff;
        border-bottom: 3px solid #ffff
    }
    .nav__link {
        color: #ffffff
    }
    .nav-link {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    .nav-item:nth-of-type(6) {
        margin-bottom: 0
    }
    .nav__link {
        margin: 0
    }
    .nav__link:hover {
        color: #ffffff
    }
    .activity__box {
        padding: 0 35px
    }
    .activity__img {
        height: 265px
    }
    .activity__span {
        font-size: 10px
    }
    .activity__title {
        font-size: 26px
    }
    .footer__box {
        margin-bottom: 60px
    }
    .footer__awards {
        margin: 0 0 40px
    }
    .footer__awards img {
        width: 8%
    }
    .footer__owner::after {
        transform: scaleX(1) scaleY(0.9)
    }
}

@media (max-width: 684px) {
    p {
        font-size: 15px
    }
}

@media (max-width: 576px) {
    .header__burger {
        width: 45px
    }
    .navbar__logo {
        width: 21%
    }
    .logo__img {
        width: 100%
    }
    .activity__title {
        font-size: 25px
    }
    .footer__title {
        font-size: 14px;
        letter-spacing: 1px
    }
    .footer__link {
        font-size: 16px
    }
    .footer__txt {
        font-size: 15px
    }
    .footer__awards img {
        width: 10%
    }
}

@media (max-width: 414px) {
    p {
        font-size: 15px
    }
    .Logo__img {
        width: 120px
    }
    .header__burger {
        width: 41px
    }
    .header__list {
        width: 75%
    }
    .navbar__logo {
        width: 28%
    }
    .nav__link {
        font-size: 15px
    }
    .activity__box {
        padding: 46px 35px
    }
    .activity__title {
        font-size: 30px
    }
    .activity__info:nth-child(even) {
        flex-direction: column-reverse
    }
    .footer__awards img {
        width: 12%
    }
}

@media (max-width: 375px) {
    .header__burger {
        width: 38px
    }
    .header__list {
        width: 93%
    }
    .logo__img {
        width: 96%
    }
    .nav__link {
        font-size: 17px
    }
}

@media (max-width: 320px) {
    .header.fixed {
        padding: 5px 0
    }
    .header__burger {
        width: 35px
    }
    .header__list {
        width: 100%
    }
    .logo__img {
        width: 100%
    }
    .activity__title {
        font-size: 26px
    }
    .footer__awards img {
        width: 14%
    }
    .footer__awards img:nth-of-type(4) {
        margin-top: 40px
    }
}