@import url("../fonts/fonts.css");
body,
html {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

body.lock,
html.lock {
    overflow: hidden !important;
}

h1,
h2,
h3,
h4 {
    font-family: 'Trirong';
    margin: 0
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

button,
button:hover {
    border: none
}

p {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
    font-family: serif
}

ul {
    padding: 0;
    text-align: center;
    margin: 0
}

li {
    list-style: none
}

a:hover {
    color: #fff;
    text-decoration: none
}

::selection {
    background: #d4b04d;
    color: #ffffff
}

.loader {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: loader 2.7s forwards
}

.loader__out {
    position: relative;
    top: 45px;
    width: 116px;
    height: 116px;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 50%
}

.loader__in {
    position: absolte;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #000000;
    border-top: 10px solid #fdfdfd;
    border-bottom: 10px solid #ffffff;
    animation: loading 3s linear infinite forwards
}

.loader__img {
    position: relative;
    bottom: 61px;
    width: 116px;
    height: 99px;
    object-fit: cover;
    background: #ffffff;
    border: 1px solid #00000093;
    border-radius: 50%
}

@keyframes loading {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader {
    100% {
        visibility: hidden
    }
}

.header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    padding: 18px 0
}

.header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 2px solid #dddddd;
    animation: fixed 0.5s linear
}

@keyframes fixed {
    0% {
        opacity: 0;
        top: -70px
    }
    100% {
        opacity: 1;
        top: 0
    }
}

.container {
    max-width: 1300px
}

.header__navbar {
    display: flex;
    align-items: center
}

.header__list {
    display: flex
}

.logo__img {
    width: 27%
}

.Logo__img {
    width: 175px
}

.navbar__logo.fixed {
    display: none
}

.navbar__Logo {
    display: none
}

.navbar__Logo.fixed {
    display: block
}

.nav__link.active {
    color: #c39a2c
}

.nav__link {
    font-family: 'Trirong';
    font-size: 18px;
    margin-left: 36px;
    color: #000000;
    transition: 0.3s;
    text-transform: uppercase
}

.nav__link:hover {
    color: #c39a2c;
    text-decoration: none
}

.intro {
    padding: 50px 0
}

.intro__title {
    font-size: 55px;
    letter-spacing: 5px;
    margin-bottom: 5px
}

.intro__txt {
    padding: 0 0 25px
}

.dishes {
    padding: 50px 0
}

.dishes__title {
    font-size: 55px
}

.dishes__Title {
    margin-bottom: 8px
}

.dishes__img {
    width: 22%;
    margin: 20px 0
}

.dishes__txt {
    margin-bottom: 50px
}

.dishes__box {
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.dishes__box .dishes__txt {
    margin: 0
}

.dishes__box .dishes__title {
    margin-bottom: 14px;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 2px
}

.dishes__box:nth-of-type(1),
.dishes__box:nth-of-type(3),
.dishes__box:nth-of-type(6),
.dishes__box:nth-of-type(8) {
    padding: 0
}

.dishes__box:nth-of-type(2),
.dishes__box:nth-of-type(4),
.dishes__box:nth-of-type(5),
.dishes__box:nth-of-type(7) {
    padding: 0 40px;
    background: #c29e759c
}

.price {
    padding: 50px 0
}

.price__title {
    font-size: 55px
}

.price__img {
    width: 22%;
    margin: 20px 0
}

.price .nav-link {
    position: relative;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Hebboo';
    font-size: 20px;
    transition: 0.3s;
    font-weight: 400;
    padding: 0;
    margin: 0 20px
}

.price .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    transform: scale(0);
    background-color: #c39a2c
}

.price .nav-link:hover::after {
    transform: scaleX(1) scaleY(0.9)
}

.price .nav-link:hover {
    color: #c39a2c
}

.price .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #c39a2c;
    background: none
}

.price .nav-link.active::after {
    transform: none
}

.price__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #c29e75;
    padding: 0px 15px;
    height: 108px;
    cursor: pointer;
    animation: price 0.9s;
    transition: 0.3s ease-out
}

.price__box:nth-of-type(1) {
    margin-top: 56px
}

.price__box .price__Title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px
}

.price__txt {
    font-size: 17px;
    font-weight: 400
}

.price__box .price {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Trirong';
    padding: 0 0 0 20px
}

.gallery {
    overflow-x: hidden !important
}

.gallery__box {
    padding: 0;
    width: 100%;
    height: 350px;
    overflow: hidden
}

.gallery__box img {
    transition: 0.9s
}

.gallery__box img:hover {
    transform: scale(1.3)
}

.footer {
    background: #222222;
    padding: 60px 0;
    color: #fff
}

.footer__title {
    text-transform: uppercase;
    font-size: 16px;
    font-family: unset
}

.footer__list {
    margin: 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer__item {
    margin: 3px 0;
    position: relative
}

.footer__link {
    color: #828282;
    font-family: 'Trirong';
    transition: 0.5s;
    font-size: 18px
}

.footer__item {
    position: relative
}

.footer__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px !important;
    transition: 0.3s;
    transform: scale(0);
    background: #c39a2c
}

.footer__item:hover:after {
    transform: scaleX(1) scaleY(0.9)
}

.footer__awards {
    margin: 40px 0
}

.footer__awards img {
    width: 6%;
    margin: 0 20px
}

.footer__txt {
    font-size: 18px;
    text-align: center;
    color: grey
}

.footer__owner {
    color: #d4b04c;
    position: relative;
    padding: 5px 0
}

.footer__owner::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px !important;
    transition: 0.5s;
    transform: scale(0);
    background: #c39a2c
}

.footer__owner:hover::after {
    transform: scaleX(1) scaleY(0.9)
}

.footer__owner:hover,
.footer__media .fab:hover,
.media__link {
    color: #d4b04c
}

.media__link {
    color: #fff
}

.footer__media .fab {
    font-size: 20px;
    margin: 20px 10px 0;
    transition: 0.3s
}

@media (max-width: 1366px) {
    .container {
        max-width: 1260px
    }
}

@media (max-width: 1140px) {
    .Logo__img {
        width: 135px
    }
}

@media (max-width: 1024px) {
    .logo__img {
        width: 38%
    }
    .nav__link {
        font-size: 16px
    }
    .dishes__box .dishes__txt {
        font-size: 17px
    }
    .gallery__box {
        height: 240px
    }
}

@media (max-width: 992px) {
    .dishes__box .dishes__txt {
        font-size: 16px
    }
}

@media (max-width: 768px) {
    .header.fixed {
        padding: 10px 0
    }
    .header__list {
        width: 50%;
        height: 100vh;
        background: #c39a2c;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 98;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.5s
    }
    .header__list.active {
        right: 0
    }
    .header__burger {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        z-index: 99
    }
    .header__icon {
        position: absolute;
        width: 85%;
        height: 4px;
        background: #000;
        border-radius: 5px;
        transition: 0.3s
    }
    .header__icon.active {
        background: transparent
    }
    .header__icon::before,
    .header__icon::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: -10px;
        background: #000;
        border-radius: 5px;
        transition: 0.3s
    }
    .header__icon::after {
        top: 10px
    }
    .header__icon.active::after {
        transform: rotate(-45deg);
        background: #fff;
        top: 0
    }
    .header__icon.active::before {
        transform: rotate(45deg);
        background: #fff;
        top: 0
    }
    .logo__img {
        width: 23%
    }
    .nav__link.active {
        color: #ffffff;
        border-bottom: 3px solid #ffff
    }
    .nav__link {
        color: #ffffff
    }
    .price .nav-link {
        font-size: 18px
    }
    p {
        font-size: 16px
    }
    .nav-item:nth-of-type(6) {
        margin-bottom: 0
    }
    .nav__link {
        margin: 0
    }
    .nav__link:hover {
        color: #ffffff
    }
    #pills-tab {
        margin: 34px 0
    }
    .dishes__box:nth-of-type(2) {
        order: -1
    }
    .dishes__box:nth-of-type(7) {
        order: 1
    }
    .dishes__img,
    .price__img {
        width: 30%
    }
    .dishes__title,
    .intro__title,
    .price__title {
        font-size: 50px
    }
    .price__box:nth-of-type(1) {
        margin-top: 0
    }
    .footer__box {
        margin-bottom: 60px
    }
    .footer__awards {
        margin: 0 0 40px
    }
    .footer__awards img {
        width: 8%
    }
    .footer__owner::after {
        transform: scaleX(1) scaleY(0.9)
    }
}

@media (max-width: 667px) {
    .dishes__title,
    .intro__title,
    .price__title {
        font-size: 48px
    }
}

@media (max-width: 576px) {
    h1,
    h2 {
        font-size: 45px !important
    }
    .header__burger {
        width: 45px
    }
    .navbar__logo {
        width: 21%
    }
    .logo__img {
        width: 100%
    }
    .dishes__img,
    .price__img {
        width: 38%
    }
    .price__box {
        height: auto;
        padding: 15px
    }
    .footer__title {
        font-size: 14px;
        letter-spacing: 1px
    }
    .footer__link {
        font-size: 16px
    }
    .footer__txt {
        font-size: 15px
    }
    .footer__awards img {
        width: 10%
    }
}

@media (max-width: 414px) {
    h1,
    h2 {
        font-size: 40px !important
    }
    .Logo__img {
        width: 120px
    }
    .header__burger {
        width: 41px
    }
    .header__list {
        width: 75%
    }
    .navbar__logo {
        width: 28%
    }
    .price .nav-item:nth-of-type(4) {
        margin-top: 17px
    }
    .dishes__img,
    .price__img {
        width: 50%
    }
    .dishes__box:nth-of-type(2),
    .dishes__box:nth-of-type(7) {
        order: 0
    }
    .price__txt {
        font-size: 19px
    }
    .footer__awards img {
        width: 12%
    }
}

@media (max-width: 375px) {
    .header__burger {
        width: 38px
    }
    .header__list {
        width: 93%
    }
    .logo__img {
        width: 96%
    }
    .intro {
        padding: 50px 0
    }
    .dishes__title,
    .price__title {
        font-size: 31px !important
    }
    .dishes__img,
    .price__img {
        width: 53%
    }
    .price .nav-link {
        font-size: 17px
    }
    .price__box .price__Title {
        font-weight: 600
    }
    .price__txt {
        font-size: 15px
    }
}

@media (max-width: 320px) {
    h1,
    h2 {
        font-size: 35px !important
    }
    .header.fixed {
        padding: 5px 0
    }
    .header__burger {
        width: 35px
    }
    .header__list {
        width: 100%
    }
    .logo__img {
        width: 100%
    }
    .price .nav-item:nth-of-type(3) {
        margin-top: 17px
    }
    .price__txt {
        font-size: 15px
    }
    .footer__awards img {
        width: 14%
    }
    .footer__awards img:nth-of-type(4) {
        margin-top: 40px
    }
}

@keyframes price {
    0% {
        transform: translateY(-40px)
    }
    100% {
        transform: translateY(0px)
    }
}